﻿
@{
    ViewBag.Title = "AddAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Empired.Games.GuessTheAnimal.WebClient.Models.AnimalViewModel

<h2>Add New Animal</h2>

@using (Html.BeginForm("AddAnimal", "Game", FormMethod.Post))
{

    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Name)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Color)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Color)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Color)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Sound)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Sound)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Sound)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.PhysicalAttribute)
            </td>
            <td>
                @Html.TextBoxFor(m => m.PhysicalAttribute)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.PhysicalAttribute)
            </td>
        </tr>
    </table>
    <br />

    <button>Create</button>
}
