﻿
@{
    ViewBag.Title = "DisplayResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Empired.Games.GuessTheAnimal.WebClient.Models.AnimalViewModel

<h2>Results</h2>

@if(Model == null || Model.AnimalID == 0)
{
    <p>Sorry, I could not read your mind which animal you chose. Try Again!</p>
}
else
{
    <p>Awesome! You chose @Model.Name.</p>
}
