﻿
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Empired.Games.GuessTheAnimal.WebClient.Models.GameViewModel

<h2>Game On!! Choose an animal from the list of animals</h2>

<div id="divFirstStep" role="application">
    <div class="demo-section k-content wide">
        <label for="lstbChooseAnimal" id="lblChooseAnimal">Choose An Animal</label>
        <br />
        @(Html.Kendo().ListBox()
            .Name("lstbChooseAnimal")
            .HtmlAttributes(new { title = "Animals" })
            .Draggable(false)
            .BindTo(Model.Animals)
            .DataTextField("Name")
        )

        <br />
        <br />
        <h5>Now, I will read your mind and tell you what you chose, click the button below</h5>
        @(Html.Kendo().Button()
            .Name("btnStartGuessing")
            .Content("Read my mind")
            .HtmlAttributes(new { type = "button" })
            .Events(ev => ev.Click("onStartGuessingClick")))

        <br />
        <br />
        <br />
        <h5>Would you like to add a new animal? Yes you can! Click the button below to add a new animal</h5>

        @(Html.Kendo().Button()
            .Name("btnCreate")
            .Content("Add Animal")
            .HtmlAttributes(new { type = "button" })
            .Events(ev => ev.Click("onBtnCreateClick")))
    </div>
</div>

<script>

    function onStartGuessingClick(e) {
        window.location.href = "/Game/SelectColor";
    }

    function onBtnCreateClick(e) {
        window.location.href = "/Game/AddAnimal";
    }
</script>

<style>
    .divFirstStep label {
        margin-bottom: 5px;
        font-weight: bold;
        display: inline-block;
    }

    #animals {
        width: 270px;
    }

    #divFirstStep .demo-section {
        max-width: none;
        width: 515px;
    }

    #divFirstStep .k-listbox {
        width: 600px;
        height: 500px;
    }
</style>




