﻿
@{
    ViewBag.Title = "Guess Color";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Empired.Games.GuessTheAnimal.WebClient.Models.GameViewModel

<h2>Select the Color of your animal?</h2>

<p>
    @using (Html.BeginForm("SelectColor", "Game", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.SelectedColor, Model.Colors, "Select a color");

        <br/>
        <br/>
        <button>Next</button>
    }
</p>