﻿
@{
    ViewBag.Title = "GuessSound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Empired.Games.GuessTheAnimal.WebClient.Models.GameViewModel

<h2>Select the sound that your animal makes?</h2>

<p>
    @using (Html.BeginForm("SelectSound", "Game", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.SelectedColor);
        @Html.DropDownListFor(m => m.SelectedSound, Model.Sounds, "Select sound");


        <br />
        <br />

        <button>Next</button>
    }

</p>
