﻿
@{
    ViewBag.Title = "SelectPhysicalAttribute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Empired.Games.GuessTheAnimal.WebClient.Models.GameViewModel

<h2>Select a physical attribute of your animal?</h2>

<p>
    @using (Html.BeginForm("SelectPhysicalAttribute", "Game", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.SelectedColor);
        @Html.HiddenFor(m => m.SelectedSound);
        @Html.DropDownListFor(m => m.SelectedPhysicalAttribute, Model.PhysicalAttributes, "Select a physical attribute");

        <br/>
        <br/>

        <button>Next</button>
    }
</p>
