﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guess The Animal Game</h1>
    <h3>Press Start to play the fun game!</h3>
@(Html.Kendo().Button()
    .Name("btnStart")
    .Content("Start")
    .HtmlAttributes(new { type = "button" })
    .Events(ev => ev.Click("onClick")))
</div>

<script>
    function onClick(e) {
        window.location.href = "/Game";
    }
</script>

<style>
</style>
